<!-- Vertical Nav -->
<div class="kleon-vertical-nav">
    <!-- Logo  -->
    <div class="logo d-flex align-items-center justify-content-between" style="padding: 0px !important;">
        <a href="#" class="d-flex align-items-center gap-3 flex-shrink-0">
            <!-- <img src="../../public/assets/img/logo-icon.svg" alt="logo"> -->
            <img src="../../public/assets/img/ymb-advovcates-high-resolution-logo-transparent.png" alt="img" style="height: 50px; width: 50px;">
            <div class="position-relative flex-shrink-0">
                <!-- <img src="../../public/assets/img/logo-text.svg" alt="" class="logo-text"> -->
                <!-- <img src="../../public/assets/img/logo-text-white.svg" alt="" class="logo-text-white"> -->
                <h5 class="logo-text mb-0"><b>YMBADVOCATES</b></h5>
                <h5 class="logo-text-white mb-0">YMBADVOCATES</h5>
            </div>
        </a>
        <button type="button" class="kleon-vertical-nav-toggle"><i class="bi bi-list"></i></button>
    </div>

    <div class="kleon-navmenu">
        <ul class="main-menu">

            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2">
                <span>Home</span>
            </li>
            <li><a href="/api/dashboard"> <span class="nav-icon flex-shrink-0"><i
                            class="bi bi-speedometer fs-18"></i></span> <span class="nav-text">Dashboard</span></a>
            </li>

            <li class="menu-section-title text-gray ff-heading fs-16 fw-bold text-uppercase mt-4 mb-2">
                <span>MANAGE LISTINGS</span>
            </li>
            <!-- HR Management -->
            <li class="menu-item menu-item-has-children"><a> <span class="nav-icon flex-shrink-0"><i
                            class="bi bi-people fs-18"></i></span> <span class="nav-text">Galleries</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/api/addGallery">Add Gallery</a></li>
                    <li class="menu-item"><a href="/api/viewGallery">View Gallery</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>

            <!-- Project Management -->
            <li class="menu-item menu-item-has-children"><a> <span class="nav-icon flex-shrink-0"><i
                            class="bi bi-kanban fs-18"></i></span> <span class="nav-text">Client Review</span></a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/api/addClientReview">Add Client Review</a></li>
                    <li class="menu-item"><a href="/api/viewClientReview">View Client Review</a></li>
                </ul>
                <span class='submenu-opener'><i class='bi bi-chevron-right'></i></span>
            </li>

            <!-- Career -->
            <li><a href="/api/viewCareer"> <span class="nav-icon flex-shrink-0"><i
                            class="bi bi-briefcase fs-18"></i></span> <span class="nav-text">Career</span></a>
            </li>

            <!-- General Dashboard -->
            <li><a href="/api/viewContact"> <span class="nav-icon flex-shrink-0"><i
                            class="bi bi-speedometer2 fs-18"></i></span> <span class="nav-text">Contact</span></a>
            </li>

            <!-- Apps -->
        </ul>
    </div>

    <div class="card border-0 rounded-0 mt-6">
        <div class="card-body p-0">
            <h6 class="text-gray lh-20 mb-0">Copyright &copy; 2023 All rights reserved <a href="#">YMBADVOCATES</a></h6>
        </div>
    </div>
</div>